
html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

a {
    color: #028ee6;
}

.bold {
    font-weight: 500;
}

.list-square {
    list-style-type: square;
}

.cover {
    position: absolute;
    margin-top: -20px;
    background: #028ee6;
    width: 100%;
    height: 100%;
}

.navbar, .navbar-default {
    border-radius: 0;
    box-shadow: none;
}

.navbar.navbar-default {
	background: #FAFAFA;
	/*-webkit-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.25);
	box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.25);*/
}

.navbar.navbar-default .navbar-nav a {
    color: #028ee6;
}

.navbar.navbar-default .navbar-nav a:hover {
    color: #006EB3;
}

.navbar.navbar-default .navbar-brand {
    color: #028ee6;
}

.logo {
    margin-top: -7px;
    max-width: 35px;
}

.hero-unit {
    margin-top: -20px;
    padding: 65px 0 0 0;
    background: url('../images/hero-unit-bg.png');
    background-size: cover;
    background-position: center;
    color: #FFF;
	height: 300px;
}

.hero-unit .title, .hero-unit .description {
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
}

.hero-unit .description {
    font-size: 20px;
}

.skills {
    text-align: left;
    padding-bottom: 15px;
}

.skills .skill {
    text-align: center;
}

.skills .skill .icon {
    margin: 0 auto 15px auto;
    opacity: 0.15;
    filter: alpha(opacity=15);
    height: 64px;
}

.skills .skill .icon img {
    max-height: 100%;
}

.about-me {
    background: #FAFAFA;
    padding-bottom: 15px;
}

.current-projects .project, .resume .profile {
    background: #FAFAFA;
    padding: 5px 15px 15px 15px;
    border-bottom: 3px solid #EEE;
}

.current-projects .project {
}

.content {
	margin-top: 50px;
}

.project {
	margin-bottom: 50px;
}

.project .description {
    margin-top: 25px;
}

.project .thumb img {
	max-width: 100%;
}

.resume .profile {
    background: #FAFAFA;
}

.resume .projects-list > li {
    margin: 0 0 15px 0;
}

.resume .box {
    background: #FAFAFA;
    padding: 5px 15px 5px 15px;
    border-bottom: 3px solid #EEE;
    margin-bottom: 15px;
}

.contact-container {
    margin-top: 100px;
    background: #FFF;
    padding: 5px 15px 15px 15px;
    border-bottom: 3px solid #EEE;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #FAFAFA;
  padding-top: 5px;
}

.footer .navbar-brand {
    opacity: 0.35;
    filter: alpha(opacity=35);
}

.footer .navbar-brand:hover {
    opacity: 1.0;
}

.footer .navigation {
    padding-top: 10px;
    text-align: right;
}

.footer .navigation li {
    display: inline-block;
    list-style-type: none;
    margin: 0 0 0 15px;
}

.footer .navigation li a img {
    opacity: 0.25;
    filter: alpha(opacity=25);
}

.footer .navigation li a img:hover {
    opacity: .75;
    filter: alpha(opacity=75);
}



